.abt-heading{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;  
    align-items:start;
    margin-left: 43%;
}

.abt-heading p{
    color: #b1b2b3;
}

.abt-slide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.abt-slide .slide2{
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.abt-slide .slide2 hr{
    width: 690px;
    max-width: 690px;
    flex-direction: row;
    height: 2px;
    border: dashed 2px  #951af1;
    outline: none;
    display: flex;
    align-items: center;
}

.abt-heading h1{
    padding-bottom: 5px;
}

.abt-heading2{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;  
    align-items:start;
    margin-right: 43%;
}

.abt-slide2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
}

.abt-slide2 .slide22{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.abt-slide2 .slide22 hr{
    width: 700px;
    height: 2px;
    border: dashed 2px  #951af1;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.abt-heading2 h1{
    padding-bottom: 5px;
}

@media (max-width:800px) {
    .abt-slide .slide2 hr{
        width: 270px;
    }


    .abt-slide2 .slide22 hr{
        width: 324px;
    }
}

@media (max-width:600px) {
    .abt-slide .slide2 hr{
        width: 100px;
    }

    .abt-heading p{
        font-size: 13px;
    }
    .abt-slide2 .slide22 hr{
        width: 180px;
    }
}

@media (max-width: 425px) {
    .abt-slide{
        font-size: 10px;
    }
}