.contact-head p {
  text-align: center;
  color: #b1b2b3;
  margin-left: 40px;
}

.left-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
}

.left p {
  font-size: 18px;
}

.left div:first-child {
  font-size: 28px;
  color: #951af1;
}

.left div p:nth-child(2) {
  color: #951af1;
}

.inputbox {
  position: relative;
  width: 430px;
}

.inputbox input {
  font-family: "Outfit", sans-serif;
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: white;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: #45f3ff;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #941af15b;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~ i,
.inputbox input:focus ~ i {
  height: 44px;
}

.contact-container {
  margin-top: 7vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.right-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
}

.btnn {
  width: 150px;
  height: 45px;
  border: 3px solid #951af1;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 18px;
  font-weight: 550;
  font-family: "Outfit", sans-serif;
}

.btnn:hover {
  background: #951af1;
  color: white;
  font-size: 20px;
}

.btnn:active {
  transform: scale(1.1);
}

@media (max-width: 800px) {
  .contact-container {
    flex-direction: column;
    margin-left: 30%;
    gap: 50px;
  }
}

@media (max-width: 600px) {
  .contact-container {
    flex-direction: column;
  }

  .inputbox {
    max-width: 400px;
  }
}


/* 
@media (min-width: 400px) {
  .contact-container {
    margin-left: 8%;
    margin-top: 70px;
  }

  .inputbox {
    max-width: 310px;
  }

  .left p {
    font-size: 16px;
  }

  .abt-slide2 .slide22 {
    font-size: 30px;
  }

  .abt-slide2 .slide22 hr {
    max-width: 110px;
  }

  .abt-heading2 h1 {
    font-size: 30px;
  }

  .contact-head p {
    margin-left: 10px;
  }

  .btnn {
    width: 130px;
  }
} */

@media (max-width: 360px) {
  .abt-heading2 .abt-slide2 .slide22 hr{
    max-width: 110px;
  }
}


@media (max-width: 400px) {
  .contact-container {
    margin-left: 8%;
    margin-top: 70px;
  }

  .inputbox {
    width: 310px;
  }

  .left p {
    font-size: 16px;
  }

  .abt-slide2 .slide22 {
    font-size: 30px;
  }

  .abt-slide2 .slide22 hr {
    max-width: 110px;
  }

  .abt-heading2 h1 {
    font-size: 30px;
  }

  .contact-head p {
    margin-left: 10px;
  }

  .btnn {
    width: 130px;
  }
}


@media (max-width: 500px) {
  .contact-container {
    margin-left: 8%;
    margin-top: 70px;
  }

  .inputbox {
    max-width: 355px;
  }

  .left p {
    font-size: 16px;
  }

  .abt-slide2 .slide22 {
    font-size: 30px;
  }

  .abt-slide2 .slide22 hr {
    max-width: 140px;
  }

  .abt-heading2 h1 {
    font-size: 30px;
  }

  .contact-head p {
    margin-left: 10px;
  }

  .btnn {
    width: 130px;
  }
}
