.footer-container{
    background: #941af14d;
    width: 100%;
    height: 250px;
    margin-top: 150px;
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 0px 0px 0px;
}

.foot{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.foot h4,h3{
    padding-bottom: 10px;
    font-size: 19px;
    font-weight: 500;
}

.foot p{
    color: #b1b2b3;
}


.social{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
    font-size: 25px;
}

.social p:hover{
    cursor: pointer;
    color: #951af1;
}

@media (max-width:800px) {
    .foot p{
        font-size: 14px;
    }
}

@media (max-width:400px) {
    .footer{
        padding: 20px 30px;
        flex-direction: column;

    }

    .footer-container{
        height: auto;
    }

    .foot h4{
        padding-bottom: 5px;
        padding-top: 18px
    }

    .social p{
        font-size: 22px;
    }
}


@media (max-width:500px) {
    .footer{
        padding: 20px 30px;
        flex-direction: column;

    }

    .footer-container{
        height: auto;
    }

    .foot h4{
        padding-bottom: 5px;
        padding-top: 18px
    }

    .social p{
        font-size: 22px;
    }
}